.body {
  font-family: Prompt;
}

:root {
  --bs-body-color: white;
  --bs-body-bg: #2B3E50;
  --bs-body-font-size: 0.9rem;

}

.nav-tabs {
  border-bottom-color: #2B3E50;
}

.nav-tabs .nav-item .nav-link {
  color: lime;
  border-color: #2B3E50;
}

.nav-tabs .nav-item .nav-link.active {
  border-color: #2B3E50;
  background-color: lime;
  border-radius: .375rem;
  color: black;
  font-size: 1em;
}

.tab-content {
  border-color: #2B3E50;
}



